# 과제 1

In [13]:
import numpy as np
from scipy import stats
import scipy.stats
import pandas as pd
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
from statsmodels.stats.proportion import proportions_ztest

# matplotlib 음수 표시
import matplotlib
matplotlib.rc('axes', unicode_minus=False)

In [14]:
#데이터 가져오기
ds_mycars = pd.read_csv("mycars.csv", engine="python")

df = ds_mycars[['model','manufacturer','year','cylinder','automatic','driving','fuel','class','mpg']]

In [15]:
# model 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['model'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)

# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='model'
# percent 계산
percent = count/sum(count)*100
# 결과 확인
count_data

model                   Count   Percent  CumCnt      CumPct
4runner 4wd                 6  2.564103       6    2.564103
a4                          7  2.991453      13    5.555556
a4 quattro                  8  3.418803      21    8.974359
a6 quattro                  3  1.282051      24   10.256410
altima                      6  2.564103      30   12.820513
c1500 suburban 2wd          5  2.136752      35   14.957265
camry                       7  2.991453      42   17.948718
camry solara                7  2.991453      49   20.940171
caravan 2wd                11  4.700855      60   25.641026
civic                       9  3.846154      69   29.487179
corolla                     5  2.136752      74   31.623932
corvette                    5  2.136752      79   33.760684
dakota pickup 4wd           9  3.846154      88   37.606838
durango 4wd                 7  2.991453      95   40.598291
expedition 2wd              3  1.282051      98   41.880342
explorer 4wd                6  2.564103     104   44.444444
f150 pickup 4wd             7  2.991453     111   47.435897
forester awd                6  2.564103     117   50.000000
grand cherokee 4wd          8  3.418803     125   53.418803
grand prix                  5  2.136752     130   55.555556
gti                         5  2.136752     135   57.692308
impreza awd                 8  3.418803     143   61.111111
jetta                       9  3.846154     152   64.957265
k1500 tahoe 4wd             4  1.709402     156   66.666667
land cruiser wagon 4wd      2  0.854701     158   67.521368
malibu                      5  2.136752     163   69.658120
maxima                      3  1.282051     166   70.940171
mountaineer 4wd             4  1.709402     170   72.649573
mustang                     9  3.846154     179   76.495726
navigator 2wd               3  1.282051     182   77.777778
new beetle                  6  2.564103     188   80.341880
passat                      7  2.991453     195   83.333333
pathfinder 4wd              4  1.709402     199   85.042735
ram 1500 pickup 4wd        10  4.273504     209   89.316239
range rover                 4  1.709402     213   91.025641
sonata                      7  2.991453     220   94.017094
tiburon                     7  2.991453     227   97.008547
toyota tacoma 4wd           7  2.991453     234  100.000000

In [16]:
# manufacturer 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['manufacturer'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='manufacturer'

# 결과 확인
count_data

manufacturer  Count    Percent  CumCnt      CumPct
audi             18   7.692308      18    7.692308
chevrolet        19   8.119658      37   15.811966
dodge            37  15.811966      74   31.623932
ford             25  10.683761      99   42.307692
honda             9   3.846154     108   46.153846
hyundai          14   5.982906     122   52.136752
jeep              8   3.418803     130   55.555556
land rover        4   1.709402     134   57.264957
lincoln           3   1.282051     137   58.547009
mercury           4   1.709402     141   60.256410
nissan           13   5.555556     154   65.811966
pontiac           5   2.136752     159   67.948718
subaru           14   5.982906     173   73.931624
toyota           34  14.529915     207   88.461538
volkswagen       27  11.538462     234  100.000000

In [17]:
# year 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['year'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='year'

# 결과 확인
count_data

year  Count  Percent  CumCnt  CumPct
1999    117     50.0     117    50.0
2008    117     50.0     234   100.0

In [18]:
# cylinder 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['cylinder'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='cylinder'

# 결과 확인
count_data

cylinder  Count    Percent  CumCnt      CumPct
4            81  34.615385      81   34.615385
5             4   1.709402      85   36.324786
6            79  33.760684     164   70.085470
8            70  29.914530     234  100.000000

In [19]:
# automatic 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['automatic'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='automatic'

# 결과 확인
count_data

automatic  Count    Percent  CumCnt      CumPct
auto         157  67.094017     157   67.094017
manual        77  32.905983     234  100.000000

In [20]:
# driving 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['driving'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='driving'

# 결과 확인
count_data

driving  Count    Percent  CumCnt      CumPct
4          103  44.017094     103   44.017094
f          106  45.299145     209   89.316239
r           25  10.683761     234  100.000000

In [21]:
# fuel 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['fuel'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='fuel'

# 결과 확인
count_data

fuel  Count    Percent  CumCnt      CumPct
c         1   0.427350       1    0.427350
d         5   2.136752       6    2.564103
e         8   3.418803      14    5.982906
p        52  22.222222      66   28.205128
r       168  71.794872     234  100.000000

In [22]:
# class 변수 Count: value_count, 순서대로 정렬: sort_index (변수명 abcd순서대로)
count = df['class'].value_counts().sort_index()

# comulative count 계산
cumcnt = np.cumsum(count)
# percent 계산
percent = count/sum(count)*100
# comulative percent 계산
cumpct = np.cumsum(percent)


# DataFrame으로 취합
count_data = pd.DataFrame({'Count':count,'Percent': percent,'CumCnt': cumcnt, 'CumPct': cumpct})
count_data.columns.name='class'

# 결과 확인
count_data

class       Count    Percent  CumCnt      CumPct
2seater         5   2.136752       5    2.136752
compact        47  20.085470      52   22.222222
midsize        41  17.521368      93   39.743590
minivan        11   4.700855     104   44.444444
pickup         33  14.102564     137   58.547009
subcompact     35  14.957265     172   73.504274
suv            62  26.495726     234  100.000000

# 과제 2

In [23]:
mu = 12
sigma = 3
x1 = 9
x2 = 15
prob1 = stats.norm.cdf(x1,mu,sigma)
prob2 = stats.norm.cdf(x2,mu,sigma) 
print("1) %.1f" %((prob2-prob1)*100))
print("2) %.1f" %(1-prob2))

1) 68.3
2) 0.2