# < 문자열 >

In [3]:
#한줄 주석

In [2]:
'''
a
b
c
여러 줄 주석
'''

'\na\nb\nc\n'

### 문자열 연산자

In [5]:
'python'+'isfun'

'pythonisfun'

In [6]:
'python'*3

'pythonpythonpython'

### 문자열 인덱싱

In [8]:
word = "python"

In [9]:
word[0]

'p'

In [11]:
word[-1]

'n'

### 문자열 슬라이싱

In [12]:
# [시작인덱스:끝인덱스+1:스텝] -> range함수와 비슷
word[0:2]

'py'

In [13]:
word[:2]  #콜론 앞 생략 : 문자열 시작부터

'py'

In [14]:
word[3:]  #콜론 뒤 생략 : 문자열 끝까지

'hon'

In [15]:
word[:]

'python'

In [16]:
word[::-1]

'nohtyp'

In [17]:
word[::2]

'pto'

### 문자열 관련 함수

In [18]:
'o' in word

True

In [19]:
s = "python is fun"

In [20]:
# count(): 문자열 중 특정문자 개수 반환
s.count("n")

2

In [21]:
# index(): 문자열 중 문자 'n'이 처음으로 나오는 위치 반환
s.index("n")

5

In [23]:
# join() : 문자열을 합해줌
a = ","
a.join("abc")

'a,b,c'

### 실습 문제 3

In [24]:
word = "Hello"
word[-1]

'o'

In [25]:
word[len(word)-1]

'o'

### split()

문자열을 공백이나 다른 문자로 분리해서 리스트로 변환

In [29]:
s1 = "python is fun I love python"

In [30]:
s1.split()  #스페이스 단위로 쪼갬

['python', 'is', 'fun', 'I', 'love', 'python']

In [31]:
s2 = "one:two:three"

In [33]:
s2.split(":")  #리스트 형태로 반환

['one', 'two', 'three']

# 리스트

In [34]:
season = ["spring", "summer", "fall", "winter"]
season[1]

'summer'

### 리스트 슬라이싱

In [35]:
season[0:2]

['spring', 'summer']

### 리스트 더하기 및 반복

In [45]:
a = [1,2,3]
b = [4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [46]:
a*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### 멤버 확인

In [47]:
1 in a

True

### 리스트 수정 및 삭제

In [36]:
a =[1,2,3]

In [38]:
a[1] = 7
a

[1, 7, 3]

In [39]:
del a[0]
a

[7, 3]

### 패킹, 언패킹

In [41]:
t = [1,2,3]  # 1,2,3을 변수 t에 패킹
a,b,c = t   # t 리스트 원소들을 a,b,c에 언패킹
a,b,c

(1, 2, 3)

### 실습 문제 4

In [6]:
date = input("날짜(연/월/일) 입력: ")
year,month,day = date.split("/")
print("입력한 날짜의 10년 후는 %d년 %s월 %s일" %(int(year)+10,month,day))

날짜(연/월/일) 입력: 2020/01/13
입력한 날짜의 10년 후는 2030년 01월 13일

### map()

In [ ]:
ls = date.split("/")
ls = list(map(int,ls))
ls

# < 조건문, 반복문, 리스트 >

## if문

들여쓰기로 구역을 나누기 때문에 들여쓰기에 유의 할 것. (스페이스나 탭 둘 다 사용 가능) -> 스페이스 4칸 사용 권장

In [ ]:
'''
if 조건:
    ->
elif 조건:
    ->
else:
    ->
'''

### 실습 1

In [56]:
english = int(input("영어 점수 입력: "))
math = int(input("수학 점수 입력: "))

if english + math < 110:
    print("불합격: 총합 점수 부족")
elif english < 40 and math >=40:
    print("불합격: 영어 점수 부족")
elif math < 40 and english >=40:
    print("불합격: 수학 점수 부족")
else:
    print("합격")

영어 점수 입력: 35
수학 점수 입력: 95
불합격: 영어 점수 부족

### 실습 2

## while문

In [59]:
number = 1
while number <=5:
    #print(number)
    print(number, end=" ")  # shift + enter -> 함수 상세보기
    number += 1

1 2 3 4 5

In [99]:
# 1부터 10까지의 합
s = 0
cnt = 1
while cnt <=10:
    s += cnt
    cnt += 1
print(s)

55

## range() 함수

In [61]:
range(5) # return -> range(0,5)
list(range(5))

[0, 1, 2, 3, 4]

In [63]:
# 짝수 출력
list(range(2,11,2))

[2, 4, 6, 8, 10]

## for문

In [66]:
for x in range(5):
    print("hello")

hello
hello
hello
hello
hello

In [65]:
for x in [2,4,6,8]:
    print(x)

2
4
6
8

In [82]:
# 실습 1 (구구단 출력)
num = int(input("출력하고 싶은 단을 입력하세요. "))

for i in range(1,10):
    print("%d * %d = %d" %(num,i,num*i))

출력하고 싶은 단을 입력하세요. 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [11]:
# 실습 2 (출력 프로그램)
num = input("Input an Integer: ")

for x in num:  # 문자열 그대로 해도 한글자씩 가져옴 (참고 : 문자열 -> 리스트로 바꾸는 방법 : list(num) )
    for y in range(int(x)):
        print("★",end="")
    print()

Input an Integer: 3159
★★★
★
★★★★★
★★★★★★★★★

In [9]:
# for문 하나로 해결하기!
for x in num:
    print("★"*int(x))

★★★
★
★★★★★
★★★★★★★★★

## break, continue

## 리스트

In [71]:
colors = list()  # 빈 리스트 생성

In [72]:
# 리스트에 항목 추가
colors.append("red")

In [73]:
colors

['red']

In [74]:
colors.append("blue")
colors

['red', 'blue']

In [3]:
#리스트 항목 삭제 (중복 값일때 한개만 삭제)
colors = []
colors.append("red")
colors.append("red")
print(colors)
colors.remove("red")
colors

['red', 'red']

['red']

###  리스트 관련 함수

### reverse()

### max(), min(), sum()

### 실습 1

In [7]:
ls = list()
while True:
    num = input("Enter a number: ")
    if num == "done":
        break
    else:
        ls.append(float(num))
print(ls)
print("Average: %.1f" %(sum(ls)/len(ls)))
print("Maximum: %.1f" %max(ls))
print("Minimum: %.1f" %min(ls))

Enter a number: 7
Enter a number: 2
Enter a number: 5
Enter a number: 9
Enter a number: done
[7.0, 2.0, 5.0, 9.0]
Average: 5.8
Maximum: 9.0
Minimum: 2.0

### sort(), sorted()

In [17]:
a = [1, 3, 4, 2, 5]

In [14]:
a.sort()  # 정렬. 리턴값이 없음. default가 오름차순

In [15]:
a

[1, 2, 3, 4, 5]

In [16]:
a.sort(reverse=True) # 내림차순.
a

[5, 4, 3, 2, 1]

In [18]:
a = [1, 3, 4, 2, 5]

In [20]:
a1 = sorted(a) #리턴값이 존재. 원본 리스트는 그대로.

In [21]:
a1

[1, 2, 3, 4, 5]

In [22]:
a

[1, 3, 4, 2, 5]

In [24]:
b = a.sort()

In [25]:
print(b) # None : 아무 것도 없다는 의미의 상수값

None

### reverse()

In [29]:
a = [3, 5, 4, 2, 1]

In [30]:
a.reverse() # 인덱스 역순으로 정렬

In [31]:
a

[1, 2, 4, 5, 3]